<title>
  <!-- <%= gettext("%{subnetwork} %{network} Explorer", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %> -->
  <%= gettext("%{subnetwork} Blockchain Explorer", subnetwork: LayoutView.subnetwork_title()) %>
</title>
<!-- <meta name="description" content="<%= gettext "Explorer based blockscout for %{subnetwork}", subnetwork: LayoutView.subnetwork_title() %>"> -->
<meta name="description" content="Saakuru Explorer enables you to delve into and scrutinize the Saakuru blockchain for transactions, addresses, tokens, prices, and additional activities occurring on Saakuru (SKR)" >
<meta name="keywords" content="BlockScout, blockchain, api, analytics, address, smart contract, saakuru, Saakuru Blockchain, AAG, AAG Ventures ,explorer, SKR">
~
